/.idea/.name
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/misc.xml
/pom.xml
/.idea/dataSources.xml
/Syntra_jpa_ex6_p190.iml
/.idea/uiDesigner.xml
/.idea/vcs.xml
/target/classes/*
/JPA_Exercise_Syntra_Lens.zip
